#root {
  max-width: 1280px;
  text-align: center;
}

.isi{
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isi h1{
  font-family: 'Lucida Handwriting';
  color: white;
  font-weight: 800
}

.beranda-text{
  font-family: 'poppins';
}

.wisata{
  height: 100vh;
}